<!-- Dialog box for logout starts here -->



<div class="d-flex align-items-center justify-content-around task my-3" [ngStyle]="{'background-color': getTypeColor('{{type}}')}">
 

    <table class=" table  main-table" width="98%">
        <thead class="mx-auto text-align-center ">
            <tr>

                <th >
                    Sl.No
                </th>
                <th >
                    Title
                </th >
                <th >
                    Note
                </th>
                <th >
                    Date
                <th >
                    Due Date
                </th>
                
                <th >
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td class="pt-3 ps-4">
                    {{todo!.id}}
                </td>
                <td class="pt-3">
                    <span class="todoTitle" class="todoTitle" [ngClass]="{'completed': completeTodo}"
                        [ngStyle]="{'text-decoration': completeTodo ? 'line-through' : 'none'}"
                        *ngIf="!editTodo; else inputBlock" (click)="completeTodoToggle()">{{todo!.title}}</span> 
                    <ng-template #inputBlock>
                        <input type="text" class="todo-form" [(ngModel)]="todoInput" placeholder="Update task...">
                    </ng-template>

                    <!-- <span class="d-block">
                        <span *ngIf="!editTodo">{{todo?.note}}</span>
                        <input *ngIf="editTodo" [(ngModel)]="todo!.note" class="todo-form" placeholder="Enter a note">
                    </span> -->
                </td>
                <td class="pt-3">
                    <span *ngIf="!editTodo">{{todo?.note}}</span>
                    <input *ngIf="editTodo" [(ngModel)]="todo!.note" class="todo-form" placeholder="Enter a note">
                </td>
                
                <td class="pt-3">
                    <span *ngIf="!editTodo">{{todo?.date | date:'MMMM d y'}}</span>
                    <input *ngIf="editTodo" [(ngModel)]="todo!.date" class="todo-form" type="date">
                    <!-- <span class="d-block">
                        <span *ngIf="!editTodo">{{todo?.dueDate | date:'MMMM d y'}}</span>
                    <input *ngIf="editTodo" [(ngModel)]="todo!.dueDate" class="todo-form" type="date">
                    </span> -->
                </td>
                
                <td class="pt-3">
                    <span *ngIf="!editTodo">{{todo?.dueDate | date:'MMMM d y'}}</span>
                    <input *ngIf="editTodo" [(ngModel)]="todo!.dueDate" class="todo-form" type="date">
                </td>
               
                <td class="pt-3 btn" >
                    <span *ngIf="!editTodo; else elseBlock" 
                        (click)="updateTodoToggle()"><app-edit-icon class="edit-icon"></app-edit-icon></span>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary me-2 d-block" (click)="updateTodo();">Update</button>
                    </ng-template>
                </td>
                <td class=" btn"  (click)="deleteTodo()"><span ><app-delete-icon></app-delete-icon>
                    </span>
    
                </td>





            </tr>



        </tbody>
    </table>





    <!-- <div class="my-2">
        
     
        <button class="btn btn-danger ms-2" (click)="deleteTodo()">Delete</button>
    </div> -->





</div>